{% extends "layout.html" %}

{% block title %}
    Project3
{% endblock %} 
{% block content %}
    {% load static %}
  
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	</head>
  
  <style>
.accordion {
		width: 50%;
	}

#columnone {
  float: left;
  width: 70%;
  padding: 10px;
  height: 88vh;  
  color: black;
}

#columntwo {
  float: left;
  width: 30%;
  padding: 10px;
  height: 90vh; 
  color: white;
  font-size: 18px;
  text-align: right;
}

#row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  background-color: #4d1919;
  opacity: 0.8;
}

.card-header{
  height: 60px;
}

#heading {
  color: white;  
  font-family: Verdana, Geneva, sans-serif;
  font-size: 20px;
  padding: 0.01px;
  margin-left: 15px;
}

.space {
  width: 100px;
  color: white;
  font-size: 16px;
}
.head {
  color:#ffcc00;
  font-size: 18px;
  font-family: Verdana, Geneva, sans-serif;
}
.spacesubs {
   width: 200px;
   color: white;
  font-size: 16px;
}

.image:hover{
  opacity: 0.5;
}
 #title {
  font-size: 20px;
  font-family: Comic Sans MS;
 }

#specialpizza {
  background-color: #ffd11a;
  align-content: center;
  color: #00264d;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  width: 500px;
  margin-left: 35%;
}

#specialpizza {
  font-family: Carolingia;
}

@font-face {
  font-family: Carolingia;
  src: url({% static 'myapp/Carolingia.ttf' %});
}

.blinking{
  animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
  0%{   color: #000;  }
  49%{  color: transparent; }
  50%{  color: transparent; }
  99%{  color:transparent;  }
  100%{ color: #000;  }
}

#button {
  width: 180px;
  height: 50px;
  font-size: 25px;
  background-color: #003366;
  color: white;
  border: none;
}

#button:hover {
  opacity: 0.8;
}

hr.line {
  border: 1px solid blue;
}

</style>

<body class="body">   
<div id="specialpizza">
 <b><font color="red"> <span class="blinking">New Offer!!</span></font></b>
Today's Special Pizza: <br>
Cheese + Barbecue Chicken + Sausage

</div>

<div id="row">
<div id="columnone">
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              <div id = "heading" >{{ c1 }}</div>               
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body"><table>
        <th class="head">Item</th>
        <th class="head">Small</th>
        <th class="head">Large</th>
       <hr>
      {% for regularpizza in regularpizza %}
						<tr>	<td class="space">{{ regularpizza.name }}</td>  
							<td class="space"> {{ regularpizza.small }}<a href="{% url 'add' c1 regularpizza.name regularpizza.small %}"><img class="image" src="{% static 'myapp/plus.png' %}"></a></td>  
							<td class="space"> {{ regularpizza.large }}<a href="{% url 'add' c1 regularpizza.name regularpizza.large %}"><img class="image" src="{% static 'myapp/plus.png' %}"></a></td>
						</tr>
					{% endfor %}
				</table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button id = "heading" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div id = "heading" >        {{ c2 }}</div>       
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
     					<table><th class="head">Item</th>
        <th class="head">Small</th>
        <th class="head">Large</th>
       <hr>
      {% for sicilianpizza in sicilianpizza %}
            <tr>
              <td class="space">{{ sicilianpizza.name }}</td>  
              <td class="space"> {{ sicilianpizza.small }}<a href="{% url 'add' c2 sicilianpizza.name sicilianpizza.small %}"><img class="image" src="{% static 'myapp/plus.png' %}"></a></td>  
              <td class="space"> {{ sicilianpizza.large }}<a href="{% url 'add' c2 sicilianpizza.name sicilianpizza.large %}"><img class="image" src="{% static 'myapp/plus.png' %}"></a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button id = "heading" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <div id = "heading" >      {{ c3 }}</div>      
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
               <table><th class="head">Item</th>
        
       <hr>
      {% for topping in topping %}
            <tr>
              <td class="spacesubs">{{ topping }}<a href="{% url 'add' c3 topping.name Toppingcost %}"><img class="image" src="{% static 'myapp/plus.png' %}"></a></td>              
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
 
<div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button id = "heading" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseTwo" >         
          <div id = "heading" >        {{ c4 }}</div>       
      </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">     
          <table><th class="head">Item</th>
        <th class="head">Small</th>
        <th class="head">Large</th>
       <hr>
      {% for subs in subs %}
            <tr>
              <td class="spacesubs">{{ subs.name }}</td>  
              <td class="space"> {{ subs.small }}<a href="{% url 'add' c4 subs.name subs.small %}"><img class="image" src="{% static 'myapp/plus.png' %}"></a></td>  
              <td class="space"> {{ subs.large }}<a href="{% url 'add' c4 subs.name subs.large %}"><img class="image" src="{% static 'myapp/plus.png' %}"></a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>


<div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button id = "heading" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          
   <div id = "heading" >        {{ c5 }}</div>
       
      </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
      <div class="card-body">
     
          <table><th class="head">Item</th>
        <th class="head">Price</th>
        
       <hr>
      {% for pasta in pasta %}
            <tr>
              <td class="spacesubs">{{ pasta.name }}</td>  
              <td class="space"> {{ pasta.price }}<a href="{% url 'add' c5 pasta.name pasta.price %}"><img class="image" src="{% static 'myapp/plus.png' %}"></a></td>  
              
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>



<div class="card">
    <div class="card-header" id="headingSix">
      <h2 class="mb-0">
        <button id = "heading" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          
   <div id = "heading" >        {{ c6 }}</div>
       
      </h2>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
      <div class="card-body">
     
          <table><th class="head">Item</th>
        <th class="head">Price</th>
       <hr>
      {% for salads in salads %}
            <tr>
              <td class="spacesubs">{{ salads.name }}</td>  
              <td class="space"> {{ salads.price }}<a href="{% url 'add' c6 salads.name salads.price %}"><img class="image" src="{% static 'myapp/plus.png' %}"></a></td>  
              
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>



 <div class="card">
    <div class="card-header" id="headingSeven">
      <h2 class="mb-0">
        <button id = "heading" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          
   <div id = "heading" >        {{ c7 }}</div>
       
      </h2>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
      <div class="card-body">
     
          <table><th class="head">Item</th>
        <th class="head">Small</th>
        <th class="head">Large</th>
       <hr>
      {% for dinnerplatters in dinnerplatters %}
            <tr>
              <td class="spacesubs">{{ dinnerplatters.name }}</td>  
              <td class="space"> {{ dinnerplatters.small }}<a href="{% url 'add' c7 dinnerplatters.name dinnerplatters.small %}"><img class="image" src="{% static 'myapp/plus.png' %}"></a></td>  
              <td class="space"> {{ dinnerplatters.large }}<a href="{% url 'add' c7 dinnerplatters.name dinnerplatters.large %}"><img class="image" src="{% static 'myapp/plus.png' %}"></a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>






</div>

</div>
   


   <div id="columntwo">    
  <h2><font color="#0073e6"> In your cart   </font></h2>
  <hr class="line">    
                {% for row in Checkout %}
               
            <table>
           <tr>   <b id="title"><i>{{ row.category }} - </i></b> {{row.name}} - {{row.cost}}<a href="{% url 'delete' row.category row.name row.cost %}"><img class="image" src="{% static 'myapp/minus.png' %}"></a></tr>
                



                </table>
                {% endfor %}
                
   <hr class="line">        
 <h2>Total:<font color="#0073e6"> ${{ Total|floatformat:2 }}</font><br></h2>
 {% if Total == 0.00 or Total == None %} 
 <button id="button" type="button" disabled>Place Order</button>
 {% else %}
<a href="{% url 'confirmorder' %}"><button id="button">Place Order</button>
{% endif %}

</div>
</div>

{% endblock %}