{% extends "layout.html" %}

{% block title %}
    Project3
{% endblock %} 
{% block content %}
    {% load static %}

<style>
#view {
  width: 900px;
  height: 100px;
  margin-top: 5%;
  
}
</style>


<div id="view"> 
  {% csrf_token %}
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ key }}"
          data-description="A Django Charge"
          data-amount="500"
          data-locale="auto"></script>
</form>
</div>



{% endblock %}