{% extends "layout.html" %}

{% block title %}
    Project3
{% endblock %} 
{% block content %}

 {% load static %}
   

<style>
    

#signup {
  background-color: #4d1919;
  opacity: 0.8;
  color: white;
  font-size: 18px;
  width: 500px;
  align-content: center;
  margin-left: 32%;
  padding: 2%;
  margin-bottom: 2%;
}

#directlogin {
  text-align: center;
  color: #0059b3;
  font-weight: bolder;
}

</style>


<div id="signup">
	<body class="body">

<h2>Login</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
<br>
<h5 id="directlogin">Dont' have an account yet? &nbsp<a href="{% url 'signup' %}">Sign Up</a></h5>
</div>	
{% endblock %}